<div class="container">

    <div class="row">
    
    <div class="col-md-6 offset-md-3">
    
    <h2>Registro de estampilla</h2>
    
    <form >
    
    <div class="form-group">
    
    <label>numerodecontrato</label>
    
    <input type="text" name="numerodecontrato" [(ngModel)]="numerodecontrato.numerodecontrato" class="form-control" />
    
    </div>
    
    <div class="form-group">
    
    <label>objectivodecontrato</label>
    
    <input type="text" name="objectivodecontrato" [(ngModel)]="estampilla.objectivodecontrato" class="form-control" />
    
    </div>
    
    <div class="form-group">
    
    <label>valordelcontrato</label>
    
    <input type="text" name="valordelcontrato" [(ngModel)]="estampilla.valordelcontrato" class="form-control" />
    
    </div>
    
    <div class="form-group">
    
    <label>apoyaemergenciacovid19</label>
    
    <input type="number" name="apoyaemergrnciacovid19" [(ngModel)]="estampilla.apoyaemergenciacovid19" class="form-control" />
    
    </div>
    
    <div class="form-group">
    
    <label>valorestampilla</label>
    
    <input type="number" name="valorestampilla" [(ngModel)]="estampilla.valorestampilla" class="form-control" />
    
    </div>
    
    <div class="text-center">
    
    <button class="btn btn-primary mr-1"(click)="add()">Register</button>
    
    <button class="btn btn-secondary" type="reset">Cancel</button>
    
    </div>
    
    </form>
    
    </div>
    
    </div>
    
    </div>